{% extends 'form/layout.html' %}

{% block links %}
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type = "text/javascript" src="import?module=retrieve"></script>
  <script type = "text/javascript" src="import?module=graph"></script>
{% endblock %}

{% block css %}
  <style type='text/css'>
    body
    {
      background:black;
      text-align:center;
      color:white;
    }
    .chart rect {
      fill: steelblue;
    }

    .chart text {
      fill: white;
      font: 10px sans-serif;
      text-anchor: end;
    }

  </style>
{% endblock %}

{% block javascript %}
  <script type='text/javascript'>
  </script>
{% endblock %}
{% block content %}
  <div class="container">
    <form id="form" action="/get" method="get">
      <fieldset>
        <span class="p-2">Symbol:   <input type="text" name="symbol" value=""> </span>
        <span class="p-2">Function:
          <input id="function_input"
                 list="function_list"
                 name="function"
                 autocomplete="off"
                 onkeyup="update('function_input','function_list', 'parameters', 'search_form')"
                 value=""
          >
          <datalist id="function_list">
          </datalist>
        </span>
      </fieldset>
      <fieldset id='parameters'>
      </fieldset>
      <div class="p-2"><input type="submit"></div>
    </form>
  </div>
  <div class="container" id="graphs"></div>
{% endblock %}
{% block end-javascript %}
  <script type='text/javascript'>
    data_manager = new DataManager({{data|safe}})
    data_manager.render("graphs")
  </script>
{% endblock %}
