{% extends 'form/layout.html' %}
{% block links %}
  <script type = "text/javascript" src="import?module=retrieve"></script>
{% endblock %}

{% block css %}
  <style type='text/css'>
    body
    {
      background:black;
      text-align:center;
      color:white;
    }
  </style>
{% endblock %}

{% block javascript %}
  <script type='text/javascript'>
  </script>
{% endblock %}

{% block content %}
  <!-- <h1>Stock Market Retrieval Tool</h1> -->
  <!-- {% block function %}
    {% for function in functions %}
      <input>{{function.name}}</input>
    {% endfor %}
  {% endblock %} -->
  <div class="container">
    <form id="form" action="/get" method="get">
      <fieldset>
        <span class="p-2">Symbol:   <input type="text" name="symbol"> </span>
        <span class="p-2">Function:
          <input id="function_input"
                 list="function_list"
                 name="function"
                 autocomplete="off"
                 onkeyup="update('function_input','function_list', 'parameters', 'search_form')"
          >
          <datalist id="function_list">
          </datalist>
        </span>
      </fieldset>
      <fieldset id='parameters'>

      </fieldset>
      <div class="p-2"><input type="submit"></div>
    </form>
  </div>
{% endblock %}
