body{
  background-color: black;
  color: white;
}

.App {
  text-align: center;
}

.search-bar{
  margin-top: 1%;
  margin-bottom: 2%;
}

.time-series-graph{

}

.selection_bar{
  margin: 0.5%;
}

.selection_bar:hover{
  cursor: pointer;
}

.time-series-btn.active{
  background-color: blue;
}
.selection_bar_items{
  padding: 1%;
  border-style: groove;
  border-radius: 5px;
  margin: 0.1%;
  color: white;
}

.graph_type_item_checked{
  background-color: cyan;
}
